#world, #world:visited {
    text-transform: lowercase;
    font-size: 36px;
    text-decoration: none;
    color: #4f4f4f;
    font-weight: 400;
}

#world:hover {
    text-decoration: underline;
    color: #888;
}

#news, #info, #wiki, #friends {display: none}

#info ul {
    padding: 0 0 20px 0;
    margin: 20px 0 0 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
}

#info li {padding: 6px 0;}

#piechart { 
    width: 100%;
    height: 500px;
}

#friends ul {
    list-style: none;
    padding: 0;
}

#friends li {
    padding: 0 18px 18px 0;
    display: inline-block;
}