body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin: 0;
    color: #4f4f4f;
    background: #fff;
}

#topbar {
    background: #3472e9;
    border-bottom: 10px solid #2a57ae;
    width: 100%;
    padding: 20px 0;
}

#topcontainer {
    width: 900px;
    margin: 0 auto;
    color: #fff;
}

#topbar h1, #topbar h1 a, #topbar h1 a:visited {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-size: 28px;
    color: inherit;
    text-decoration: none;
}

#topbar h1 a:hover {
    text-decoration: underline;
}

#signin {
    display: inline-block;
    float: right;
    padding: 6px 0;
}

#signin a, #signin a:visited {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    padding: 0 4px;
}

#titlearea {
    background: #f3f3f3;
    border-bottom: 1px solid #ccc;
}

#nationtitle {
    width: 900px;
    margin: 0 auto;
    padding: 40px 0 22px 0;
}

#navbar {
    width: 900px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline-block;
    padding: 8px 16px;
    font-size: 18px;
    margin: 1px 1px -1px 1px;
}

#navbar li.active {
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 4px solid #3472e9;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0 0 -1px 0;
}

#navbar li img {
    height: 16px;
    padding: 0 6px;
}

#navbar a, #navbar a:visited {
    color: #4f4f4f;
    text-decoration: none;
}

#wiki {
    width: 900px;
    margin: 40px auto;
}

#nationtitle img {
    float: left;
    height: 56px;
    margin-right: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#nationtitle h1 {
    margin: 0;
    font-size: 48px;
}

#world, #world:visited {
    text-transform: lowercase;
    font-size: 36px;
    text-decoration: none;
    color: #4f4f4f;
    font-weight: 400;
}

#world:hover {
    text-decoration: underline;
    color: #888;
}

#nationinfo {
    margin-top: 40px;
}

#boxes {
    display: none;
}

.box {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    margin: 0 20px 20px 0;
}

.boxtitle {
    display: block;
    color: #222;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

#vitals {
    width: 280px;
}

#vitals ul {
    padding: 0 20px;
    list-style: none;
}

#vitals li {
    font-size: 20px;
    padding: 12px 0;
}

.greatstat {
    color: #1a682a;
}

.goodstat {
    color: #2eab1f;
}

#vitals a, #vitals a:visited {
    color: inherit;
}

#vitals a:hover {
    text-decoration: none;
}

#overview {
    width: 460px;
}

#overview p {
    padding: 0 20px;
}