body {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: #4f4f4f;
	margin: 0;
}

#topbar {
    background: #3472e9;
    border-bottom: 10px solid #2a57ae;
    width: 100%;
}

#topcontainer {
    width: 1000px;
    margin: 0 auto;
    color: #fff;
}

#desc h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 46px;
    padding-top: 40px;
    margin: 0;
}

#desc h2 {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	font-size: 28px;
	margin-bottom: 40px;
}

h2 img {
	height: 32px;
	margin-right: 8px;
}

form {
	display: block;
	width: 900px;
	margin: 40px auto;
}

hr {
	margin: 26px 0;
	border: none;
	border-bottom: 1px solid #ccc;
}

.textfield {
	display: block;
}

.textfield:hover .helptext {
	opacity: 1;
}

.textfield:hover input[type=text], .textfield:hover input[type=number] {
	border-color: #4f4f4f;
}

input[type=text], input[type=number] {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 350px;
	font-size: 18px;
	font-family: inherit;
	padding: 4px;
	color: #4f4f4f;
}

input[type=text]:focus, input[type=number]:focus {
	outline: none;
	border-color: #4f4f4f;
	background-color: #f0f0f0;
}

.textfield p {
	margin: 18px 0;
	cursor: default;
}

.textfield p.helptext {
	margin-top: 0;
	float: right;
	opacity: 0;
	transition: opacity 0.25s;
	color: #777;
	font-size: 14px;
	width: 280px;
}

#flagpreview {
	border: 1px solid #ccc;
	height: 150px;
}

.textfield #confirmbox {
	width: auto;
}

.textfield a, .textfield a:hover {
	color: #2a57ae;
}

.textfield a:hover {
	text-decoration: none;
}

button {
	margin: 10px 0;
	background: #fff;
	border: 1px solid #ccc;
	padding: 12px 20px;
	font-size: 18px;
	font-family: inherit;
	color: #4f4f4f;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	border-color: #4f4f4f;
}

button:active {
	background: #eee;
	border-color: #4f4f4f;
}

button:focus {
	outline: none;
}

