body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin: 0;
    color: #4f4f4f;
    background: #fff;
}

#topbar {
    background: #3472e9;
    border-bottom: 10px solid #2a57ae;
    width: 100%;
    padding: 20px 0;
}

#topcontainer {
    width: 900px;
    margin: 0 auto;
    color: #fff;
}

#topbar h1, #topbar h1 a, #topbar h1 a:visited {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-size: 28px;
    color: inherit;
    text-decoration: none;
}

#topbar h1 a:hover {
    text-decoration: underline;
}

#signin {
    display: inline-block;
    float: right;
    padding: 6px 0;
}

#signin a, #signin a:visited {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    padding: 0 4px;
}